<!DOCTYPE html>
<html>
  <head>


  </head>

  <body>
    <h1>Submitted Info</h1>
    <p>Name:@ViewBag.name</p>
    <p>Favorite Language:@ViewBag.language</p>
    <p>Comment:@ViewBag.comment</p>

  </body>

</html>