<!DOCTYPE html>
<html>
   <head>

   </head>

   <body>
       <form action="method" method="post">
           Name:<input type="text" name="TextField"/>
           <br>
           Number:<input type="number"  name="NumberField"/>
           <button type="submit">Submit</button>
       </form>

       <p>@ViewBag.text</p>
       <p>@ViewBag.num</p>
   </body>

</html>