<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
       <h1>Random passcode(passcode #)@ViewBag.count</h1>

       <form action="code" method="post">
           <input type="text" name="passcode" value="@ViewBag.Code">
           <br><br>
           <input type="submit" value="Generate">
       </form>

    </body>
</html>